<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @order.customer %>
</p>

<p>
  <b>Product:</b>
  <%= @order.product %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
